/* General Settings */

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: rgb(246, 246, 246);
}

/* General Settings */

/* Header Settings */

.header {
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 13vh;
  position: fixed;
  z-index: 1;
}

.container-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.container-title {
  display: flex;
  flex-direction: column;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
}

.container-left-side > i {
  margin-left: 20px;
  align-self: flex-end;
  font-size: 30px;
  color:white;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 118, 79);
  width: 30%;
  height: 100%;
}

.container-cartTitle > div {
  background-color: rgb(10, 118, 79);
  cursor: pointer;
}

.menu-bar {
  width: 2.5rem;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 75%;
  width: 25%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  display: none;
}

/* Header Settings */

/* Body Settings */

.container {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 13vh;
}

.container > .cart {
  background-color: rgb(230, 230, 230);
  height: 87vh;
  width: 80%;
  transform: translateX(100%);
  position: fixed;
  top: 13vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in;
}

.cart.active {
  transform: translateX(0%);
}

.cart__items {
  max-height: 70vh;
  overflow-y: scroll;
  margin-top: 10px
}

.cart-bottom {
  margin-bottom: 20px;
}

.total-price {
  margin-top: 15vh;
}
.empty-cart {
  padding: 10px;
}

/* Body Settings */

@media screen and (min-width: 768px) {
  .container-cartTitle .cart__title {
    color: white;
    font-size: 20px;
    padding-left: 35px;
    font-weight: 700;
    display: inline-block;
  }

  .container-left-side {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    width: 70%;
  }

  .container-title {
    display: flex;
    flex-direction: row;
  }

  .container-title > .title {
    font-size: 45px;
    color: white;
  }

  .container-left-side > i {
    margin-left: 20px;
    font-size: 45px;
    color:white;
  }

  .container-cartTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
  }

  .container-cartTitle .cart__title {
    font-size: 45px;
    letter-spacing: 3px;
  }

  .menu-bar {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .container > .items {
    height: 100%;
    width: 70%;
  }
  .container > .cart {
    width: 30%;
    transform: translateX(0%);
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    height: 100%;
  }
  
  .total-price {
    position: relative;
    top: 0;
    order: 1;
  }

  .cart-bottom {
    display: flex;
    justify-content: center;
  }

  .empty-cart {
    padding: 10px;
    position: absolute;
    top: 20vh;
    max-height: 50px;
  }

  .cart__items {
    margin-top: 5vh;
    max-height: 70vh;
  }

  .items {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px;
    width: 200px;
    border: 2px solid rgb(234, 234, 233);
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .item .item__sku {
    display: none;
  }
  
  .item .item__title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
  }
  
  .item .item__image {
    width: 100%;
  }

  .item .item__price {
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem 0;
  }
  
  .item .item__add {
    background-color: rgb(5, 52, 219);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    color: white;
  }  
}